@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html{
	background:#fff;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
/*解决中文网站阅读英语网站时文字的大小 */
html *{
	outline:0;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0)/*取消高亮链接*/
}

html,body{
	font-family:sans-serif
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	margin:0;
	padding:0
}

input,select,textarea{
	font-size:100%
}

table{
	border-collapse:collapse;
	border-spacing:0
}

fieldset,img{
	border:0
}

abbr,acronym{
	border:0;
	font-variant:normal /*设置或检索对象中的文本是否为小型的大写字母*/
}

del{
	text-decoration:line-through
}

address,caption,cite,code,dfn,em,th,var{
	font-style:normal;
	font-weight:500
}

ol,ul{
	list-style:none
}

caption,th{
	text-align:left
}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:500
}

q:before,q:after{
	content:''
}

sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}

sup{
	top:-.5em
}

sub{
	bottom:-.25em
}

a:hover{
	text-decoration:none;
}

ins,a{
	text-decoration:none
}
/*<meta content="yes" name="apple-mobile-web-app-capable">*/
[data-ctrl-name=pageview].fullscreen{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
/*<meta content="yes" name="apple-mobile-web-app-capable"> end*/
/*添加*/

/*浮动*/
/* 清理浮动 */
.clearFloat:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearFloat {
	zoom: 1; /* for IE6 IE7 */
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.hidden{
	overflow: hidden;
}
/*文字样式*/
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.vertical-align{
	vertical-align: middle;
}

/*文字颜色*/
.text-fff{
	color: #fff;
}
.text-e87e04{
	color: #e87e04 !important;
}
.text-7d7d7d{
	color: #7d7d7d;
}
.text-735e59{
	color: #735e59;
}
.text-5babe6{
	color: #5babe6;
}
.text-0c4da2{
	color: #0c4da2;
}
.text-444{
	color: #444;
}
.text-666666{
	color: #666666;
}
.text-313131{
	color: #313131;
}
.text-fc6e51{
	color: #fc6e51;
}
.text-f6bb42{
	color: #f6bb42;
}
.text-48cfad{
	color: #48cfad !important;
}
.text-3bafda{
	color: #3bafda !important;
}
.text-ec87c0{
	color: #ec87c0 !important;
}
.text-4fc1e9{
	color: #4fc1e9;
}
.text-ed5565{
	color: #ed5565 !important;
}
.text-ac92ec{
	color: #ac92ec !important;
}
.text-999999{
	color: #999999;
}
.text-1462c4{
	color: #1462c4 !important;
}
.text-5d9cec{
	color: #5d9cec !important;
}
.text-3c3c3c{
	color: #3c3c3c !important;
}
.text-969696{
	color: #969696 !important;
}
.text-e6e6e6{
	color: #e6e6e6;
}
.text-f40000{
	color: #f40000 !important;
}
.text-e94820{
	color: #e94820;
}
.text-ea4821{
	color: #ea4821 !important;
}
.text-fff600{
	color: #fff600;
}
.text-787878{
	color: #787878 !important;
}
/*padding*/
.p-t-5{
	padding-top: 0.078125rem;
}
.p-t-10{
	padding-top: 0.15625rem;
}
.p-t-15{
	padding-top: 0.234375rem;
}
.p-t-18{
	padding-top: 0.28125rem;
}
.p-t-20{
	padding-top: 0.3125rem;
}
.p-t-23{
	padding-top: 0.359375rem;
}
.p-t-25{
	padding-top: 0.390625rem;
}
.p-t-27{
	padding-top: 0.421875rem;
}
.p-t-30{
	padding-top: 0.46875rem;
}
.p-t-36{
	padding-top: 0.5625rem;
}
.p-t-40{
	padding-top: 0.625rem;
}
.p-t-45{
	padding-top: 0.703125rem;
}
.p-t-54{
	padding-top: 0.84375rem;
}




.p-b-5{
	padding-bottom: 0.078125rem;
}
.p-b-10{
	padding-bottom: 0.15625rem;
}
.p-b-15{
	padding-bottom: 0.234375rem;
}
.p-b-18{
	padding-bottom: 0.28125rem;
}
.p-b-20{
	padding-bottom: 0.3125rem;
}
.p-b-23{
	padding-bottom: 0.359375rem;
}
.p-b-25{
	padding-bottom: 0.390625rem;
}
.p-b-27{
	padding-bottom: 0.421875rem;
}
.p-b-30{
	padding-bottom: 0.46875rem;
}
.p-b-36{
	padding-bottom: 0.5625rem;
}
.p-b-40{
	padding-bottom: 0.625rem;
}
.p-b-45{
	padding-bottom: 0.703125rem;
}


.p-l-5{
	padding-left: 0.078125rem;
}
.p-l-10{
	padding-left: 0.15625rem;
}
.p-l-15{
	padding-left: 0.234375rem;
}
.p-l-18{
	padding-left:0.28125rem;
}
.p-l-20{
	padding-left: 0.3125rem;
}
.p-l-25{
	padding-left: 0.390625rem;
}
.p-l-30{
	padding-left: 0.46875rem;
}
.p-l-40{
	padding-left: 0.625rem;
}
.p-l-90{
	padding-left:1.40625rem;
}
.p-l-100{
	padding-left:1.5625rem;
}
.p-l-150{
	padding-left:2.34375rem;
}



.p-r-15{
	padding-right: 0.234375rem;
}
.p-r-18{
	padding-right:0.28125rem;
}
.p-r-20{
	padding-right: 0.3125rem;
}
.p-r-25{
	padding-right: 0.390625rem;
}
.p-r-30{
	padding-right: 0.46875rem;
}


.p-tb-36{
	padding: 0.5625rem 0;
}
.p-lr-13{
	padding: 0 0.203125rem;
}
.p-lr-15{
	padding: 0 0.234375rem;
}
.p-lr-25{
	padding: 0 0.390625rem;
}
/*margin*/
.m-t-5{
	margin-top: 0.078125rem;
}
.m-t-7{
	margin-top: 0.109375rem;
}
.m-t-10{
	margin-top: 0.15625rem;
}
.m-t-12{
	margin-top: 0.1875rem;
}
.m-t-15{
	margin-top: 0.234375rem;
}
.m-t-18{
	margin-top: 0.28125rem;
}
.m-t-20{
	margin-top: 0.3125rem;
}
.m-t-25{
	margin-top: 0.390625rem;
}
.m-t-27{
	margin-top: 0.421875rem;
}
.m-t-30{
	margin-top: 0.46875rem;
}
.m-t-33{
	margin-top: 0.515625rem;
}
.m-t-35{
	margin-top: 0.546875rem;
}
.m-t-40{
	margin-top: 0.625rem;
}
.m-t-42{
	margin-top: 0.65625rem;
}
.m-t-45{
	margin-top: 0.703125rem;
}
.m-t-50{
	margin-top: 0.78125rem;
}
.m-t-54{
	margin-top: 0.84375rem;
}
.m-t-60{
	margin-top: 0.9375rem;
}
.m-t-65{
	margin-top: 1.015625rem;
}



.m-b-5{
	margin-bottom: 0.078125rem;
}
.m-b-7{
	margin-bottom: 0.109375rem;
}
.m-b-8{
	margin-bottom: 0.125rem;
}
.m-b-10{
	margin-bottom: 0.15625rem;
}
.m-b-12{
	margin-bottom: 0.1875rem;
}
.m-b-14{
	margin-bottom: 0.21875rem;
}
.m-b-15{
	margin-bottom: 0.234375rem;
}
.m-b-20{
	margin-bottom: 0.3125rem;
}
.m-b-25{
	margin-bottom: 0.390625rem;
}
.m-b-27{
	margin-bottom: 0.421875rem;
}
.m-b-30{
	margin-bottom: 0.46875rem;
}
.m-b-33{
	margin-bottom: 0.515625rem;
}
.m-b-35{
	margin-bottom: 0.546875rem;
}
.m-b-40{
	margin-bottom: 0.625rem;
}
.m-b-50{
	margin-bottom: 0.78125rem;
}
.m-b-55{
	margin-bottom: 0.859375rem;
}
.m-b-60{
	margin-bottom: 0.9375rem;
}


.m-l-2{
	margin-left:0.03125rem;
}
.m-l-5{
	margin-left: 0.078125rem;
}
.m-l-10{
	margin-left:0.15625rem;
}
.m-l-18{
	margin-left:0.28125rem;
}
.m-l-25{
	margin-left: 0.390625rem;
}
.m-l-30{
	margin-left: 0.46875rem;
}
.m-l-35{
	margin-left: 0.546875rem;
}



.m-r-10{
	margin-right:0.15625rem;
}
.m-r-16{
	margin-right:0.25rem;
}
.m-r-18{
	margin-right:0.28125rem;
}
.m-r-25{
	margin-right: 0.390625rem;
}
.m-r-30{
	margin-right: 0.46875rem;
}
.m-r-35{
	margin-right: 0.546875rem;
}




.m-tb-15{
	margin: 0.234375rem 0;
}
.m-tb-20{
	margin:0.3125rem 0;
}
.m-lr-12{
	margin: 0 0.1875rem;
}
/*文字大小*/
.f-b{
	font-weight:bold;
}
.f-w{
	font-weight: normal !important;
}
.f12{
	font-size: 0.1875rem;
}
.f13{
	font-size: 0.203125rem;
}
.f14{
	font-size: 0.21875rem;
}
.f15{
	font-size: 0.234375rem;
}
.f16{
	font-size: 0.25rem;
}
.f17{
	font-size: 0.265625rem;
}
.f18{
	font-size: 0.28125rem;
}
.f20{
	font-size: 0.3125rem !important;
}
.f22{
	font-size: 0.34375rem;
}
.f24{
	font-size: 0.375rem !important;
}
.f26{
	font-size: 0.40625rem;
}
.f27{
	font-size: 0.421875rem;
}
.f28{
	font-size: 0.4375rem;
}
.f30{
	font-size: 0.46875rem;
}
.f32{
	font-size: 0.5rem;
}
.f33{
	font-size: 0.515625rem;
}
.f34{
	font-size: 0.53125rem;
}
.f36{
	font-size: 0.5625rem;
}
.f40{
	font-size: 0.625rem !important;
}
.f50{
	font-size: 0.78125rem;
}
.f70{
	font-size: 1.09375rem;
}

/*行高*/
.l-h-t-35{
	line-height:0.546875rem ;
}
.l-h-t-51{
	line-height:0.796875rem !important;
}
/*定位*/
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
/*display*/
.display-block{
	display: block;
}
.display-none{
	display: none;
}
/*背景*/
.bag-15175b{
	background: #15175b;
}
.bag-fff{
	background: #fff;
}
.bag-162f7b{
	background: #162f7b;
}
.bag-f4f4f4{
	background: #f4f4f4;
}
.bag-e4e4e5{
	background: #e4e4e5;
}
.bag-f5f5f5{
	background: #f5f5f5;
}
.bag-f5a500{
	background: #f5a500;
}
.bag-f7f7f7{
	background: #f7f7f7;
}
.bag-1462c4{
	background: #1462c4;
}
.bag-ebebeb{
	background: #ebebeb;
}
.bag-ea4821{
	background: #ea4821;
}
/*边*/
.b-b-d7ccc8{
	border-bottom:1px solid #d7ccc8;
}
.b-b-d9d9d9{
	border-bottom:1px solid #d9d9d9;
}
.b-b-e6e6e6{
	border-bottom:1px solid #e6e6e6;
}
.b-b-dcdcdc{
	border-bottom:1px solid #dcdcdc;
}
.b-b-c8c8c8{
	border-bottom:1px solid #c8c8c8 !important;
}
.b-d-b-e6e6e6{
	height: 1px;
	border-bottom:1px solid #e6e6e6;
}



.b-dcdcdc{
	border:1px solid #dcdcdc;
}