@charset "utf-8";
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {margin: 0;padding: 0;}
.clearBoth {clear: both;font-size: 1px;height: 1px;line-height: 1px;}
.clearfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix {display: inline-block;}
.clearfix {display: block;}
.l{float:left;}
.r{float:right;}
.m{text-align:center;line-height:45px;cursor:pointer;}
body {background: none repeat scroll 0 0 #F4F4F4;color: #737173;font: 14px/1.5 u9ED1u4F53,Microsoft YaHei,宋体,Arial,Verdana;}
ul {list-style: none outside none;}
li:hover, li:active, li {outline: 0 none;}

header, #menu, #footer, #playwrap {position:fixed; width:100%; left:0; overflow:hidden;}
header {height:35px; top:0;z-index:1000;background:none repeat scroll 0 0 #F4F4F4;}

#menu {height:36px;z-index:1000;background: -webkit-linear-gradient(left, #69A3D4 0%, #4888BE 100%);  background: -moz-linear-gradient(left center , #69A3D4 0%, #4888BE 100%) repeat scroll 0 0 transparent;background:#4888BE;}
.menu_tagList {color:#fff;line-height:35px;font-size:16px;}
.menu_tagList li {text-align:center;float:left;width:25%;box-sizing: border-box;border-right:1px solid #4F80AB;cursor:pointer;letter-spacing: 1.2px;}
.menu_hover {background:url(../images/hoverbg.png) 0 0 no-repeat;background-size:100%;}
.h_logo {color:#69A3D3;float:left;font-size:20px;width:250px;margin:5px 0 0 10px;font-weight:400;}

#content {padding: 51px 0 70px;width:100%;}
#content li {border-bottom: 1px solid #CCC;cursor: pointer;font-size: 16px;height: 45px;overflow: hidden;padding: 0 0 0 10px;}
.picStyle {height:35px;width:35px;margin:4px 8px 0px 3px;}
.textBox {font-size:14px;color:#1E1E1E;margin-top:2px;}
.textBox p {color:#787878;font-size:12px;white-space:nowrap;}
.frmPlay {float: right;height: 45px;width: 56px;background:url(../images/fmplay.png) center center no-repeat;background-size:44%;}
.frmPause{background-image:url(../images/fmpause.png);}

/*control*/
#playwrap {background: -webkit-linear-gradient(left, #69A3D4 0%, #4888BE 100%);background: -moz-linear-gradient(left center , #69A3D4 0%, #4888BE 100%) repeat scroll 0 0 transparent;background:#4888BE;color:#fff;bottom: 0;font-family: Microsoft YaHei;height: 70px;text-align: center;z-index: 1000;}
#playContent{ height: 70px;margin: 0 auto;width: 320px;}
#progressWrap {background: none repeat scroll 0 0 #80ADD2;height: 3px;margin: 3px 0 0 10px;width: 298px;cursor:pointer;}
#progress {background: none repeat scroll 0 0 #FFFFFF;height: 3px;width: 0;}
.img {box-shadow: 0 0 5px #333333;float: left;height: 47px;margin: 8px 0 0 15px;width: 47px;}
.img img {border: 1px solid #6DABE1;cursor: pointer;height: 45px;width: 45px;}
.info {float: left;width: 240px;}
.control {margin: 2px 0 0;text-align: left;}
.audioControl a.last {background: url("../images/bg3.png") no-repeat scroll -5px -108px transparent;}
.audioControl a {display: inline-block;height: 30px;margin: 0 0 0 8px;width: 30px;}
.audioControl a.pause {background: url("../images/bg3.png") no-repeat scroll -4px -75px transparent;}
.audioControl a.play {background: url("../images/bg3.png") no-repeat scroll -4px -144px transparent;}
.audioControl a.next {background: url("../images/bg3.png") no-repeat scroll -7px -183px transparent;}
#modeButton{background-image: url("../images/bg3.png");background-repeat:no-repeat;margin-left: 16px;width: 35px;}
.audioControl a.mode-default {background-position:-6px -328px;}
.audioControl a.mode-random {background-position:-6px -224px;}
.audioControl a.mode-single {background-position:-6px -292px;}
#songname {color: #FFFFFF;float: left;background:red;font-size: 14px;margin: 4px 0 0 12px;overflow: hidden;text-align: left;text-overflow: ellipsis;white-space: nowrap;width: 220px;}
#timeshow {color: #FFFFFF;float: right;font-size: 14px;}
#musicTitle{float:left;margin:3px 0 0 15px;width:135px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;text-align:left;}
#oWindow{position:fixed;z-index:2000;top:50%;left:50%;background: -moz-linear-gradient(left center , #69A3D4 0%, #4888BE 100%) repeat scroll 0 0 transparent;background: -webkit-linear-gradient(left, #69A3D4 0%, #4888BE 100%);background:#4888BE;color:#fff;padding:13px 20px;font-size:16px;}
/*www.jq22.com*/